body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

  .header {
    margin: 44px 0 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.nav {
    margin: 56px 0 50px;
    
}

ul {
   display: flex;
   flex-direction: row;
  }

  li a {
    margin: 23px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;   
    text-decoration: none;
    color: black
  }

  a:hover {
      color: #0ba39c;
  }

  .banner {
      font-family: Poller One;
      background: #252525;
      padding: 15px 28px 12px 28px;
      color: white;
      font-size: 35px;
      margin-bottom: 24px;
  }


.body {
    display: grid;
    grid-template: repeat(3, 299px) / repeat(3, 299px);
    grid-template-areas: 
    "one two three"
    "four five six"
    "seven eight nine";
    grid-gap: 20px;
    margin-bottom: 25px;
}
 
.pic-one, .pic-two, .pic-three, .pic-four, .pic-five, .pic-six, .pic-seven, .pic-eight, .pic-nine {
border: 2px solid #1a1a1a;
opacity: 0.8;
transition: opacity .8s;
}

.pic-one {
    background-image: url(/images/mustache1.jpg);
    grid-area: one;
}

.pic-two {
    background-image: url(/images/mustache2.jpg);
    grid-area: two;
}

.pic-three {
    background-image: url(/images/mustache3.jpg);
    grid-area: three;
}

.pic-four {
    background-image: url(/images/mustache4.jpg);
    grid-area: four;
}

.pic-five {
    background-image: url(/images/mustache5.jpg);
    grid-area: five 
}

.pic-six {
    background-image: url(/images/mustache6.jpg);
    grid-area: six;
}

.pic-seven {
    background-image: url(/images/mustache7.jpg);
    grid-area: seven;
}

.pic-eight {
    background-image: url(/images/mustache8.jpg);
    grid-area: eight;
}

.pic-nine {
    background-image: url(/images/mustache9.jpg);
    grid-area: nine;
}

.body div:hover {
    opacity: 1;
    
}



  .footer {
    height: 122px;
    width: 100%;
    background-color: #252525;
    margin: 30px 0 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inside-footer {
    color: white;
    width: 960px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

span {
  float: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin-left: 10px;
}

.socials {
    display: flex;
}

.socials div {
    margin-left: 20px;
    height: 38px;
    width: 38px;
    border: 2px solid white;
}

.twitter {
  background-image: url(/images/twitter.PNG);
}

.facebook {
  background-image: url(/images/facebook.PNG);
}

.google {
  background-image: url(/images/google.PNG);
}

.pintrest {
  background-image: url(/images/pintrest.PNG);
}



.socials .twitter:hover {
    background-image: url(/images/white\ twitter.PNG);
}

.socials .facebook:hover {
  background-image: url(/images/white\ facebook.PNG);
}

.socials .google:hover {
  background-image: url(/images/white\ google.PNG);
}

.socials .pintrest:hover {
  background-image: url(/images/white\ pintrest.PNG);
}

@media (max-width: 580px) {
    li a {
        margin: 8px
    }

    .socials div {
        margin-left: 10px;
        margin-right: 10px;
    }
    
    .body {
        display: grid;
        grid-template: repeat(5, 220px) / repeat(2, 220px);
        grid-template-areas: 
        "one two"
        "three four"
        "five six"
        "seven eight"
        "nine .";
        grid-gap: 20px;
        margin-bottom: 25px;
    }

    .pic-one, .pic-two, .pic-three, .pic-four, .pic-five, .pic-six, .pic-seven, .pic-eight, .pic-nine {
        background-size: cover;
    }
}